<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <context:property-placeholder location="application.properties"/>

    <bean id="card" class="ua.cherevatyi.spring.Springlearning.ClassCard"/>
    <bean id="race" class="ua.cherevatyi.spring.Springlearning.RaceCard"/>
    <bean id="class" class="ua.cherevatyi.spring.Springlearning.ClassCard"/>

    <util:list id="cards" value-type="ua.cherevatyi.spring.Springlearning.TypeMunchkinCard">
        <ref bean="card"/>
        <ref bean="race"/>
        <ref bean="class"/>
    </util:list>

    <bean id="myBean"
          class="ua.cherevatyi.spring.Springlearning.TestBean">
        <constructor-arg value="Andrew"/>
    </bean>

    <bean id="munchkinTypeCardModel" class="ua.cherevatyi.spring.Springlearning.TypeMunchkinModel">
        <constructor-arg ref="cards"/>
    </bean>

    <bean id="munchkinWithTypeSetter" class="ua.cherevatyi.spring.Springlearning.TypeMunchkinModel"
          scope="prototype">
        <property name="cards" ref="cards"/>
        <property name="supermunchkin" value="${TypeMunchkinModel.isSupermunchkin}"/>
    </bean>


    <bean id="initAndDestroyTest" class="ua.cherevatyi.spring.Springlearning.ClassCard"
        init-method="doInit" destroy-method="doDestroy"/>
</beans>